<div id="content_container">
  <div class="pricing center">
    <% if @charge.status == "Active" %>
      <div class="row">
        <p class="section-description u-max-full-width">     
          <span>Current Plan:</span> <%= @charge.plan %>
          <br>
          <span>Expires:</span> <%= @charge.expiration.strftime("%B %-d, %Y") %>
          <br>
          <%= link_to("Upgrade/Cancel Plan", edit_charge_path(@charge), class: "button button-primary pricing_btn") %>
        </p>

        <p class="section-description u-max-full-width">
          <table>
            <tr class="title">
              <th>No.</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Plan</th>
            </tr>

            <% @history.each.with_index(1) do |h, i| %>
              <tr>
                <th><%= i %></th>
                <th><%= Time.at(h.created).strftime("%-m/%-d/%y") %></th>
                <th><%= number_to_currency(h.amount.to_i / 100.00) %></th>
                <th><%= h.statement_descriptor %></th>
              </tr>
            <% end %>
        </p>
      </div>
    <% else %>

      <div class="row">
        <div class="four columns">
          <ul class="active-tb">
            <li class="pricing_info pricing_title pricing_cost">Monthly Subscription</li>
            <li class="pricing_info">Choose One Subject</li>
            <li class="pricing_info">Switch Subjects Anytime</li>
            <li class="pricing_info">5 SMS Questions Sent Daily</li>
            <li class="pricing_info">Analyze Your Reponse History</li>
            <li class="pricing_info pricing_cost">$9.95 per Month</li>
            <li><%= link_to("Choose", new_charge_path(:plan => "Monthly"), class: "button button-primary pricing_btn") %></li>
          </ul>
        </div>
        <div class="four columns">
          <ul class="active-tb">
            <li class="pricing_info pricing_title pricing_cost">Bi-Annual Subscription</li>
            <li class="pricing_info">All The Benefits of Our Monthly Subscription</li>
            <li class="pricing_info">GREAT VALUE</li>
            <li class="pricing_info">10% Discount</li>
            <li class="pricing_info">*Monthly Price Based on 6-Month Subscription</li>
            <li class="pricing_info pricing_cost">$8.95 per Month*</li>
            <li><%= link_to("Choose", new_charge_path(:plan => "Bi-Annual"), class: "button button-primary pricing_btn") %></li>
          </ul>
        </div>
        <div class="four columns">
          <ul class="active-tb">
            <li class="pricing_info pricing_title pricing_cost">One Year Subscription</li>
            <li class="pricing_info">All The Benefits of Our Monthly Subscription</li>
            <li class="pricing_info">BEST VALUE</li>
            <li class="pricing_info">15% Discount</li>
            <li class="pricing_info">*Monthly Price Based on a Yearly Subscription</li>
            <li class="pricing_info pricing_cost">$8.45 per Month*</li>
            <li><%= link_to("Choose", new_charge_path(:plan => "Annual"), class: "button button-primary pricing_btn") %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>




</div>