<div id="content_container">

<!-- FAQ -->
  <article class="signed_in_section_header row u-max-full-width">
    <h4>FAQ</h4>
  </article>

  <div class="row">
    <ul class="accordion twelve columns" data-accordion role="tablist">
      <li class="accordion-item">
        <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">How many questions will I receive?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          Five questions per day.
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Why are some of my responses blank in my dashboard?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          That's because you didn't get around to answering the question before the following question was sent to you. When we send you a question, you have a couple of hours to respond. Make sure to answer all of your questions for your own benefit! 
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Can I stop receiving questions for a day or two?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          Head on over to the <a href="/profiles/<%= current_user.profile.id %>/subjects" style="border: none; text-transform: lowercase;">subjects page</a> and deactivate your active subject. When you are ready to begin receiving questions again, simply activate the subject again.
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Can I select more than one subject?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          You can only select one subject at a time, but you have the freedom to switch subjects at any time.
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">What time will I receive my questions?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          One question at a time will be sent around 9AM, 12PM, 3PM, 6PM and 9PM for a total of five questions per day.
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">What happens if I don't answer a question before another gets sent to me?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          We can only track your answer for your latest question. Stay active and you will stay sharp!
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Can I review questions sent to me online?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          Yes! Your <a href="/profiles/<%= current_user.profile.id %>/dashboard" style="border: none; text-transform: lowercase;">dashboard</a> has a history of questions sent to you, along with your answers and explanations. 
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Will you offer more subjects?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          We are always working on updating our current questions and adding more subjects to offer.
        </p>
      </li>
      <li class="accordion-item">
        <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">I have a big exam I am studying for. Can you add it to the list of subjects offered?</a>
        <p id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
          Glad to hear you would like to use Text Prep for your exam! Depending on the scope of the material, we could consider adding your subject for all members. Send us a message below with your request. 
        </p>
      </li>
    </ul>
  </div>

<!-- SUPPORT EMAIL FORM -->
  <footer class = "contact_scroll">
      <div class="row">
        <div class="twelve columns">
          <%= h4helper("Still have a question?") %>
        </div>
        <div class="twelve columns">
          <%= h5helper("Send us a message and we will get back to you") %>
        </div>
        <div class="twelve columns contact_email">
          <%= phelper(mail_to("support@textprep.co", "support@textprep.co")) %>
        </div>
      </div>
      <!-- <hr> -->
    <!-- <form>
      <div class="row">
        <div class="twelve columns">
          <label for="subject_input">Subject</label>
          <input class="u-full-width" type="text" placeholder="Message title" id="subject_input">
        </div>
      </div>
          
      <div class="row">
        <div class="twelve columns">
          <label for="message_input">Message</label>
          <textarea class="u-full-width" placeholder="Say something..." id="message_input" rows="5"></textarea>
        </div>
        
          <label class="send_yourself_copy_input">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </form> -->
  </footer>


</div> <!-- END CONTENT_CONTAINER  -->





<!-- 
<div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-cape-water-buffalo-adam-whitcroft.png", class: "footer_glyph_buffalo") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div> -->