<div id="content_container">
  <article class="signed_in_section_header row u-max-full-width">
    <h4>My Stats</h4>
    <p>Review questions received and your response history.</p>
  </article>


  <!-- <div class="row">
  <%= form_tag dashboard_profile_path, method: :get do %> 
      <%= text_field_tag :search, params[:search], class: "nine columns" %>
      <%= submit_tag "Search", name: "nil", class: "two columns" %>
  <% end %>
  </div> -->


  <table class="eleven columns">
    <thead>
      <tr class="row table_header">
        <th>Date</th>
        <th>Subject</th>
        <th>Subsection</th>
        <th>Question</th>
        <th>Response</th>
        <th>Status</th>
        <th>Explanation</th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |r| %>
        <tr class="row table_data">
          <td><%= r.created_at.strftime("%b %d, %Y") %></td>
          <td><%= Subject.find(Question.find(r.question_id).subject_id).name %></td>
          <td><%= Subject.find(Question.find(r.question_id).subject_id).subsection %></td>
          <td class="table_data_left"><%= Question.find(r.question_id).body %></td>
          <td><%= r.user_response %></td>
          <td><%= r.response_status %></td>
          <% if r.response_status == "Wrong" %>
            <td class="table_data_left"><%= Question.find(r.question_id).explanation %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p class="twelve columns"><%= will_paginate @responses, inner_window: 2%></p>
  

  <div = class="row">
    <div = class="six columns">
      <h5></h5>
    </div>
  </div>




</div> <!-- END CONTENT_CONTAINER  -->


<!-- 
<div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-african-lion-adam-whitcroft.png", class: "footer_glyph_lion") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div> -->