<% if current_user %>
  <nav class = "row main_nav">
      <div class="top-bar-left twelve columns">
        <ul>
          <li class="menu-text"><%= logo_nav_link %></li>
          <hr> 
      </div>
  </nav>
  <nav class = "row main_nav">
      <div class="top-bar-right twelve columns">
          <li><%= account_home_nav_link %></li>
          <li><%= @current_user_full_name %></li>
          <li><%= log_out_nav_link %></li>
      </div>
  </nav>
<% else %>
  <nav class = "row main_nav">
      <div class="top-bar-left twelve columns">
          <li class="menu-text"><%= logo_nav_link %></li>
          <hr> 
      </div>
  </nav>
  <nav class = "row main_nav">
      <div class="top-bar-left twelve columns">
          <li><%= subjects_nav_link_else %></li>
          <li><%= process_nav_link_else %></li>
          <li><%= pricing_nav_link_else %></li>
          <li><%= blog_nav_link %></li>
          <li><%= contact_nav_link_else %></li>
          <li><%= log_in_nav_link %></li>
        </ul>
      </div>
  </nav>
<% end %>