<% if current_user %>
  <%= render "layouts/signed_in_nav" %>  
<% else %>
  <nav class = "row main_nav">
      <div class="top-bar-left twelve columns">
          <li class="menu-text"><%= logo_nav_link %></li>
          <hr> 
      </div>
  </nav>
  <nav class = "row main_nav">
      <div class="top-bar-left twelve columns">
          <li><%= subjects_nav_link %></li>
          <li><%= process_nav_link %></li>
          <li><%= pricing_nav_link %></li>
          <li><%= faq_nav_link %></li>
          <li><%= contact_nav_link %></li>
          <li><%= log_in_nav_link %></li>
        </ul>
      </div>
  </nav>
<% end %>