
<!-- VERTICAL NAV - LOGGED IN -->
<nav class="left-off-canvas-menu">
  <div class="icon-bar vertical five-up">
    <a href="/profiles/<%= current_user.profile.id %>/dashboard" class="menu_item dashboard_nav_link" id="dashboard_nav" rel="nofollow">
      <p class="icon fi-graph-bar"></p>
      <p class="item">Dashboard</p>
    </a>
    <a href="/profiles/<%= current_user.profile.id %>/subjects" class="menu_item subjects_nav_link" id="subjects_nav" rel="nofollow">
      <p class="icon fi-book"></p>
      <p class="item">Subjects</p>
    </a>
    <a href="/profiles/<%= current_user.profile.id %>" class="menu_item profile_nav_link" id="profile_nav" rel="nofollow">
      <p class="icon fi-torsos-male-female"></p>
      <p class="item">Profile</p>
    </a>
    <!-- <a href="/profiles/<%= current_user.profile.id %>/billing" class="menu_item billing_nav_link" id="billing_nav" rel="nofollow">
      <p class="icon fi-credit-card"></p>
      <p class="item">Billing</p>
    </a> -->
    <a href="/profiles/<%= current_user.profile.id %>/contact" class="menu_item contact_nav_link" id="support_nav" rel="nofollow">
      <p class="icon fi-mail"></p>
      <p class="item">Support</p>
    </a>
    <a href="/users/sign_out" class="menu_item log_out_nav_link" id="signOut" rel="nofollow" data-method="delete">
      <p class="icon fi-power"></p>
      <p class="item">Log Off</p>
    </a>
  </div>  
</nav>

<!-- HORIZONTAL NAV - LOGGED IN -->
<div class="horizontal_nav u-max-full-width">
  <!-- <p class="user_name">Welcome back, <%= current_user.profile.fname %>!</p> -->
  <p class="logo_signed_in">textSTUDY</p>
  <% if current_page?(contact_profile_path(current_user.profile.id)) %>
    <h3 class="text-center">Contact Support</h3>
  <% elsif current_page?(billing_profile_path(current_user.profile.id)) %>
    <h3 class="text-center">Billing Info</h3>
  <% elsif current_page?(dashboard_profile_path(current_user.profile.id)) %>
    <h3 class="text-center">Dashboard</h3>
  <% elsif current_page?(profile_path(current_user.profile.id)) %>
    <h3 class="text-center">My Profile</h3>
  <% elsif current_page?(subjects_profile_path(current_user.profile.id)) %>
    <h3 class="text-center">All Subjects</h3>
  <% end %>
</div>  
  
