<!DOCTYPE html>
<html>
<head>
  <title>textSTUDY</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta name="description" content="SMS/text message study questions sent daily to your mobile phone. Prepare for exams, such as the US Citizenship Naturalization Exam and other subjects.">
  <meta name="author" content="textSTUDY">
  <meta name="keywords" content="text message studying, study, sms studying, us naturalization, us citizenship exam, us citizenship test, us citizenship questions, us naturalization questions">
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<nav id = "main_nav" class = "row">
    <% if current_user %>
    <div class="top-bar-left twelve columns">
      <ul class="menu">
        <li class="menu-text"><%= logo_nav_link %></li>
        <hr> 
    </div>
    <div class="top-bar-right twelve columns">
        <li><%= account_home_nav_link %></li>
        <li><%= @current_user_full_name %></li>
        <li><%= log_out_nav_link %></li>
    </div>
      <% else %>
    <div class="top-bar-left twelve columns">
        <li class="menu-text"><%= logo_nav_link %></li>
        <hr> 
    </div>
    <div class="top-bar-right twelve columns">
        <li><%= subjects_nav_link %></li>
        <li><%= process_nav_link %></li>
        <li><%= pricing_nav_link %></li>
        <li><%= blog_nav_link %></li>
        <li><%= contact_nav_link %></li>
        <li><%= log_in_nav_link %></li>
      <% end %>
      </ul>
    </div>
</nav>


<p class="twelve columns notice"><%= notice %></p>
<p class="twelve columns alert"><%= alert %></p>


<%= yield %>


<!-- The .foundation() function will kick off every Foundation plugin at once. -->
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
