<!DOCTYPE html>
<html>
<head>
  <title>TEXT PREP ...because learning doesn't end when you put the book down.</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta name="description" content="SMS/text message study questions sent daily to your mobile phone. Prepare for exams, such as the US Citizenship Naturalization Exam and other subjects.">
  <meta name="author" content="TEXT PREP">
  <meta name="keywords" content="text message studying, study, sms studying, us naturalization, us citizenship exam, us citizenship test, us citizenship questions, us naturalization questions">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

<% if current_page?(root_path) %>
    <%= render 'layouts/home_nav' %>
<% else %>
    <%= render 'layouts/else_nav' %>
<% end %>



<p class="twelve columns notice"><%= notice %></p>
<p class="twelve columns alert"><%= alert %></p>


<%= yield %>


<!-- The .foundation() function will kick off every Foundation plugin at once. -->
<script src = "https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
