<!-- MAIN CONTENT -->
<div id="content_container">
  <article class="signed_in_section_header row u-max-full-width">
    <h4>Choose a subject</h4>
    <p>Review the subject cards, select one subject to receive questions regarding that subject.</p>
  </article>
  
<!-- SHOWCASE SUBJECT CARDS -->
  <% @current_user_subscriptions.each do |s| %>
    <article class="subject_card row wide">
      <div class="row">
        <div class="five columns">
          <%= image_tag("us_dept_homeland_security.png", class: "card_image") %>
        </div>
        <h4 class="card_title seven columns"><%= @subjects.find(s.subject_id).name + " (" + @subjects.find(s.subject_id).language + ")" %></h4>
      </div>
      
      <div class="row">
          <h6 class="card_subsection"><%= @subjects.find(s.subject_id).subsection %></h6>
      </div>
      <div class="row">
          <p class="card_content"><%= @subjects.find(s.subject_id).long_description %></p>
          <!-- active:  -->
          <!-- <span id="subscription_status_<%= s.id %>"><%= s.active %></span> -->
          <% if s.active == false %>
            <h5><%= link_to "Activate", active_subscription_path(s.id), id: "activate_link_#{s.id}", class: "activate_link", method: :patch, remote: true %></h5>
          <% else %>
            <h5><%= link_to "Deactivate", active_subscription_path(s.id), id: "deactivate_link_#{s.id}", class: "deactivate_link", method: :patch, remote: true %></h5>
        <% end %>
      </div>
    </article><br>
  <% end %>




</div> <!-- END CONTENT_CONTAINER  -->


  <div class="two columns footer_art_signed_in">
    <%= image_tag("big5-icon-grid-african-elephant-adam-whitcroft.png", class: "footer_glyph_elephant") %>
    <p class = "art_credit">art by: Adam Whitcroft</p>
  </div>
